body {
  background: #0e0d0d;
  

}
.app{
  margin-top: 4rem;
  margin-left: 30%;
    border-radius: 1.3rem;
    width: 50%;
    border: 1px solid rgb(18, 19, 22);
    background: linear-gradient(#e66465, #9198e5);
    border-radius: 10px;
}
.gk{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#to-do-form input{
  background-color: rgb(18, 18, 27);
  border: 0; 
  color: #fff;
  width: 35%;
  height: 40px;
  padding: 0 30px;
  font-size: 18px;
  border-radius: 20px;
  margin-left: 30%;

}
#to-do-form input::placeholder{
  color: white;
}
#to-do-form input:focus{
  outline: none;
}
.hr{
  
    align-self: center;
}
#to-do-form button{
  height: 40px;
  width: 50px;
  border-radius: 20px;
  border: 0;
  background-color:rgb(250, 240, 245); 
  cursor: pointer;
  margin-left: 5px;
}
#to-do-form button:focus{
  outline: none;
}
